---
import MainLayout from "../layouts/MainLayout.astro";
import LoggedInLayout from "../layouts/LoggedInLayout.astro";

import { verifyToken } from "../utils/auth";
import cookie from "cookie";

const token = cookie.parse(Astro.request.headers.get("cookie") || "").token;
const verification = verifyToken(token);
if (!verification.valid) return Astro.redirect("/login");

const user = verification.user;
---

<MainLayout title="Home | Chess">
	<LoggedInLayout user={user}>
		<div class="content">
			<h1>Home</h1>
		</div>
	</LoggedInLayout>
</MainLayout>

<style>
	.content {
		margin: 50px;
	}
</style>
