<h1> welcome back <%=name%>!</h1>
<script src="js/chat.js"></script>
<a href="/signout">signout</a>
<a href="/matchMaking">match making</a>

<div id="chat">
    <h1>Global chat</h1>

    <div id="messages">

    </div>

    <form autocomplete="off">
        <input id="message" type="text" placeholder="enter message">
        <input type="submit">
      </form>

      <p></p>
</div>

