<h1> welcome back <%=name%>!</h1>
<a href="/signout">signout</a>
<a href="/matchMaking">match making</a>

<div id="chat">
    <h1>Global chat</h1>

    <div id="messages">

    </div>

    <form autocomplete="off" id="send">
        <input id="message" type="text" placeholder="enter message">
        <button type="submit">send</button>
      </form>
</div>

<script src="js/websocket/home.js"></script>

