<h1>Hi, there!</h1>

<form action="/login" method="post">
  <label for="username">Enter name: </label>
  <input id="username" type="text" name="username" placeholder="username">
  <label for="password">Enter password: </label>
  <input id="password" type="password" name="password" placeholder="password">
  <input type="submit">
</form>
<p> <%=error%> </p>