<h1> welcome back <%=name%>!</h1>
<a href="/signout">signout</a>
<a href="/home">home</a>

<div id="match">
  
  <form id="copyable">
    <button id="create" type="submit">create room</button>
    <p id="gameCode"></p>
  </form>


  <form autocomplete="off">
    <input id="room" type="text" placeholder="enter room name">
    <button type="submit" id="join">join room</button>
  </form>

</div>


<script src="js/websocket.js"></script>
