<h1> welcome back <%=name%>!</h1>
<a href="/signout">signout</a>
<a href="/home">home</a>

<div id="chat">
    <h1>Global chat</h1>

    <div id="messages">

    </div>
</div>

<div id="match">
  <button id="create" type="submit">create room</button>

  <form autocomplete="off" id="join">
    <input id="room" type="text" placeholder="enter room name">
    <button type="submit">join room</button>
  </form>

</div>


<script src="js/matchMaking.js"></script>

